@import "main.less";

@infoBarWidth:360px;
@infoBarPadding: 10px;

@lightWhite:rgba(255,255,255,0.4);

body{padding:0;overflow: hidden;}
#map-wrapper{position:absolute;top:0;left:0;right:@infoBarWidth;bottom:0;z-index:-1}
#map{width:100%;height:100%}


.header{
  height:@topbarShortHeight;
  padding:0 20px;
  background: white;
  border-bottom: 1px solid @lightBorderColor;
  li{
    list-style: none;
    float:right;
    >a{
      .hoverZoom(1.2);
      color: #777777;
      display:block;
      line-height: 44px;
      font-size: 20px;
      &:hover{text-decoration: none}
    }
  }
  .navbar-brand,li>a{
    padding:(@topbarShortHeight - 44px)/2 0;
  }
}
.infobar{
  position: absolute;
  bottom:0;top:0;right:0;
  width: @infoBarWidth;
  background: #eeeeee;
  border:none;
  border-left:1px solid @midBorderColor;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3)
}

.CarpoolInfo{
  padding:@infoBarPadding;
  position: absolute;top:@topbarShortHeight;
  bottom: 0;
  overflow-y:auto;
  overflow-x:hidden;
  z-index: 2;
  .topRow{
    text-align: center;
    margin-bottom: @infoBarPadding;
    border-radius: 4px;
    background:@lightWhite;
    .bordered();
    .CarpoolInfo-location{
      float: right;
      width:@infoBarWidth - 103px;
      td{height:45px}
      font-size: 22px;
    }
    .CarpoolInfo-date{
      float:left;
      width:60px;
      color:@darkTextColor;
      font-size: 18px;
      border-right:1px solid @lightBorderColor;
      background: white;
        border-top-left-radius: 4px;
        overflow: hidden;
      .month{
        background: @red;
        color:white;
        height:25px;
      }
      .day{
        font-size: 26px;
        height:40px;
      }
      .time{
        height:25px;
      }
    }
  }
  .seperator{
    margin: @infoBarPadding -@infoBarPadding;
    width: @infoBarWidth;
    border-bottom: 1px solid @lightBorderColor
  }
  .title{
    margin: 40px -@infoBarPadding @infoBarPadding ;
    width: @infoBarWidth;
    border-top: 1px solid @lightBorderColor;
    background: white;
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid @lightBorderColor;
  }
  .seatInfo{
    margin-bottom: @infoBarPadding;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    text-align: center;
    .bordered;
    .profilePic{
      float:left;
      width:70px;height:70px;
      padding: 3px;
      border-right:1px solid @lightBorderColor;
      background: white;
    }
    .seatDesc{
      background: white;
      width: 100%;
      line-height: 25px;
      display:block;
      border-bottom:1px solid @lightBorderColor;
    }
    .seatName{
      background: @lightWhite;
      display:block;
      width: 100%;
      font-size: 20px;
      line-height: 45px;
    }
    .seatNote{
      border-top:1px solid @lightBorderColor;
      background: white;
      text-align: left;
      padding: 20px;
    }
    &.pending{
      .seatDesc{
        background: @blueDark;
        color:white;
      }
    }
    &.driver{
      .seatDesc{
        background: @blue;
        color:white;
      }
      .seatName{background: rgba(245,245,255,0.4)}
    }
    &.empty{
      .seatDesc{
      }
    }
  }
  .seatBtn.pending{
    color:white;
    padding: 5px;
    font-size: 20px;
    background: @blue;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    transition: background .4s;
    .bordered(@blueDark);
    &:hover{
      background: @blueDark;
    }
  }
}
.accept>a{
  display: block;
  background: @blue;
  box-shadow: 0 3px 0 @blueDark;
  color:white;
  border-radius: 4px;
  padding:15px;
  font-size: 20px;
  text-align: center;
  width:100%;
  &:active,&:focus,&:hover{
    outline: none;
    text-decoration: none;
  }
}

