



<script>
mapController={
  map:null,
  markers:[],
  directionsService: new google.maps.DirectionsService(),
  directionsDisplay: new google.maps.DirectionsRenderer(),
  geocoderService: new google.maps.Geocoder(),

  initialize:function(){
      this.map = new google.maps.Map($(".map-canvas").get(0), {
        zoom: 14,
        disableDefaultUI: true
      });
      this.updateMapDisplay("<?=$view['current']->departure?>","<?=$view['current']->arrival?>");
  },

  calcRoute: function (from,to) {
    var that=this;
    var request = {
      origin: from,
      destination: to,
      provideRouteAlternatives: false,
      travelMode: google.maps.TravelMode.DRIVING,
      unitSystem: google.maps.UnitSystem.IMPERIAL
    };
    this.directionsService.route(request, function(response, status) {
      if (status == google.maps.DirectionsStatus.OK) {
        that.directionsDisplay.setMap(that.map);
        that.directionsDisplay.setDirections(response);
      }
    });
  },

  getGeocode:function(address,callback){
    var that=this;
    this.geocoderService.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        callback(results[0].geometry.location)
      } else {
        $("#map").html("<h1>No direction avaliable</h1>")
      }
    });
  },

  updateMapDisplay:function(from,to){
    var that=this;
    that.getGeocode(from,function(fromLocation){
      that.getGeocode(to,function(toLocation){
        that.calcRoute(fromLocation,toLocation);
      })
    })
  }
};
$(function(){
  setTimeout(function(){mapController.initialize();},400)
})
</script>
<div id="map-wrapper" class="detail modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <div id="map" class="map-canvas">
  </div>
</div>
<div class="modal-body detail">
<table>
  <td>
    <h4><?=$view['current']->departure?></h4>
  </td>
  <td style="width:20px">
    <h4><small>to</small></h4>
  </td>
  <td>
    <h4><?=$view['current']->arrival?></h4>
  </td>
</table>
<div class="infobar">
  <div class='col-md-8 col-sm-12'>
  <div class='col-xs-12'>
    <span><i class="fa fa-envelope fa-fw"></i><strong><?=$view['current']->email?></strong></span>
  </div>
  <div class='col-xs-12'>
    <span><i class="fa fa-phone fa-fw"></i><strong><?=$view['current']->cellphone?></strong></span>
  </div>
  </div>
  <div class='col-md-4'>
  <div class='col-xs-6 col-md-12'>
    <span><i class="fa fa-users fa-fw"></i><strong><?=$view['current']->passenger?></strong> seats</span>
  </div>
  <div class='col-xs-6 col-md-12'>
    <span><i class="fa fa-usd fa-fw"></i><strong><?=$view['current']->price?></strong> dollars</span>
  </div>
  </div>
  <div class='clearfix'></div>
</div>

</div>
<div class="modal-footer detail">
<div>
<div class="profilePicWrapper">
  <div class="overlay"></div>
  <img class="profilePic" src="<?=$view['current']->profilePicture?$view['current']->profilePicture:"/images/no_profile.png"?>" />
</div>
<div class='info'>
  <h5 class="name"><?=$view['current']->firstname?> <?=$view['current']->lastname?> <small>driver</small></h5>
  <p class="desc"><?=$view['current']->description?></p>
</div>
<div class='clearfix'></div>
</div>
</div>

<!--
  <?php
    echo "debug _POST---<br>";print_r($view);echo "<br><br>debug _SESSION---<br>";print_r($_SESSION);
  ?>
-->