<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densityDpi=device-dpi" />
    <title>UWCarpool♥</title>
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- Loading CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/picker/default.css" id="theme_base">
    <link rel="stylesheet" href="css/picker/default.date.css" id="theme_date">
    <link rel="stylesheet" href="css/picker/default.time.css" id="theme_time">

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/detail.css" />

    <script src="js/lib/jquery-2.0.3.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/moment.min.js"></script>
    <script src="js/lib/picker.js"></script>
    <script src="js/lib/picker.date.js"></script>
    <script src="js/lib/picker.time.js"></script>
    <script src="js/lib/jquery.autocomplete.min.js"></script>
    
    <script src="js/lib/react/react-with-addons.min.js"></script>
    <script src="js/lib/react/JSXTransformer.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<?=GOOGLE_API_KEY;?>&sensor=true"></script>
    <script>
      data={
        type:"<?=$view['user']&&$view['user']->type>1?'request':'offer'?>",
        user:<?=$view['user']?json_encode($view['user']):"null"?>,
        locations:<?=json_encode($view['locations'])?>
      }
      function switchTo(str){
        $('#requestLi,#offerLi').removeClass('active')
        $('#'+str+"Li").addClass('active');
        data.type=str;
        $(window).trigger('typeChange');
      }
      function showProfile(){
        if(!$('.profile').is(".show")){
          $(window).one('click',function(){
            $('.profile').addClass('show');
            $(window).one('click',function(){
              $('.profile').removeClass('show');
            })
          })
        }
      }
    </script>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script type='text/jsx' src="js/home.js"></script>
    
  </head>
  <body>
    <script>
        var handler = StripeCheckout.configure({
          key: 'pk_test_daTATlsm1bouNWLDzKGJHuNk',
          image: '/images/favicon.ico',
          token: function(token, args) {
            var $input = $('<input type=hidden name=stripeToken />').val(token.id);
            var $input2 = $('<input type=hidden name=carpool_id />').val(data.item.id);
            $('<form action="/detail/payByCard" method="POST">').append($input).append($input2).submit();
            //$("#payForm").submit();
          }
        });
    </script>
  </body>
</html>

<!--
	<?php
		echo "debug _POST---<br>";print_r($view);echo "<br><br>debug _SESSION---<br>";print_r($_SESSION);
	?>
-->